<a href="https://colab.research.google.com/github/gusmaomarcos/alura/blob/main/analise_covid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Alura

Curso de introdução a data science na saúde da www.alura.com.br

In [ ]:
import pandas as pd

confirmed = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
confirmed.head()

  Province/State Country/Region       Lat  ...  7/8/21  7/9/21  7/10/21
0            NaN    Afghanistan  33.93911  ...    5477    5561     5561
1            NaN        Albania  41.15330  ...    2456    2456     2456
2            NaN        Algeria  28.03390  ...    3798    3811     3824
3            NaN        Andorra  42.50630  ...     127     127      127
4            NaN         Angola -11.20270  ...     925     928      929

[5 rows x 540 columns]

In [ ]:
confirmed.shape

(279, 540)

In [ ]:
last_date = "3/2/20"

confirmed[last_date]

0      0
1      0
2      0
3      0
4      0
      ..
274    0
275    0
276    0
277    0
278    0
Name: 3/2/20, Length: 279, dtype: int64

In [ ]:
confirmed["Country/Region"]

0             Afghanistan
1                 Albania
2                 Algeria
3                 Andorra
4                  Angola
              ...
274               Vietnam
275    West Bank and Gaza
276                 Yemen
277                Zambia
278              Zimbabwe
Name: Country/Region, Length: 279, dtype: object

In [ ]:
confirmed["Country/Region"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Diamond Princess', 'Djibouti', 'Dominica', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Korea, South', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'MS Zaandam', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova',
       'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
       'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Summer Olympics 2020', 'Suriname',
       'Sweden', 'Switzerland', 'Syria', 'Taiwan*', 'Tajikistan',
       'Tanzania', 'Thailand', 'Timor-Leste', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'US', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'West Bank and Gaza', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [ ]:
confirmed["Province/State"].unique()

array([nan, 'Australian Capital Territory', 'New South Wales',
       'Northern Territory', 'Queensland', 'South Australia', 'Tasmania',
       'Victoria', 'Western Australia', 'Alberta', 'British Columbia',
       'Diamond Princess', 'Grand Princess', 'Manitoba', 'New Brunswick',
       'Newfoundland and Labrador', 'Northwest Territories',
       'Nova Scotia', 'Nunavut', 'Ontario', 'Prince Edward Island',
       'Quebec', 'Repatriated Travellers', 'Saskatchewan', 'Yukon',
       'Anhui', 'Beijing', 'Chongqing', 'Fujian', 'Gansu', 'Guangdong',
       'Guangxi', 'Guizhou', 'Hainan', 'Hebei', 'Heilongjiang', 'Henan',
       'Hong Kong', 'Hubei', 'Hunan', 'Inner Mongolia', 'Jiangsu',
       'Jiangxi', 'Jilin', 'Liaoning', 'Macau', 'Ningxia', 'Qinghai',
       'Shaanxi', 'Shandong', 'Shanghai', 'Shanxi', 'Sichuan', 'Tianjin',
       'Tibet', 'Unknown', 'Xinjiang', 'Yunnan', 'Zhejiang',
       'Faroe Islands', 'Greenland', 'French Guiana', 'French Polynesia',
       'Guadeloupe', 'Martinique', 'Mayotte', 'New Caledonia', 'Reunion',
       'Saint Barthelemy', 'Saint Pierre and Miquelon', 'St Martin',
       'Wallis and Futuna', 'Aruba', 'Bonaire, Sint Eustatius and Saba',
       'Curacao', 'Sint Maarten', 'Cook Islands', 'Anguilla', 'Bermuda',
       'British Virgin Islands', 'Cayman Islands', 'Channel Islands',
       'Falkland Islands (Malvinas)', 'Gibraltar', 'Isle of Man',
       'Montserrat', 'Saint Helena, Ascension and Tristan da Cunha',
       'Turks and Caicos Islands'], dtype=object)

In [ ]:
confirmed.sample(20)

                       Province/State       Country/Region  ...  7/9/21  7/10/21
245                               NaN              Taiwan*  ...     730      736
248                               NaN             Thailand  ...    2534     2625
45          Newfoundland and Labrador               Canada  ...       7        7
159                               NaN             Kiribati  ...       0        0
113                               NaN              Eritrea  ...      29       29
151                               NaN              Ireland  ...    5006     5006
14                           Victoria            Australia  ...     820      820
251                               NaN  Trinidad and Tobago  ...     930      935
235                               NaN         South Africa  ...   63873    64138
16                                NaN              Austria  ...   10722    10723
199                               NaN          New Zealand  ...      26       26
67                              Hebei                China  ...       7        7
256                               NaN              Ukraine  ...   54917    54949
88                            Unknown                China  ...       0        0
19                                NaN              Bahrain  ...    1374     1376
140                               NaN        Guinea-Bissau  ...      70       70
194  Bonaire, Sint Eustatius and Saba          Netherlands  ...      17       17
163                               NaN           Kyrgyzstan  ...    2083     2093
130                               NaN               France  ...  110360   110379
34                                NaN                Burma  ...    3685     3756

[20 rows x 540 columns]

In [ ]:
confirmed.iloc[1]

Province/State        NaN
Country/Region    Albania
Lat               41.1533
Long              20.1683
1/22/20                 0
                   ...
7/6/21               2456
7/7/21               2456
7/8/21               2456
7/9/21               2456
7/10/21              2456
Name: 1, Length: 540, dtype: object

In [ ]:
confirmed.set_index("Province/State").loc["Anhui"]

Country/Region      China
Lat               31.8257
Long              117.226
1/22/20                 0
1/23/20                 0
                   ...
7/6/21                  6
7/7/21                  6
7/8/21                  6
7/9/21                  6
7/10/21                 6
Name: Anhui, Length: 539, dtype: object

In [ ]:
confirmed.set_index("Province/State").iloc[1]

Country/Region    Albania
Lat               41.1533
Long              20.1683
1/22/20                 0
1/23/20                 0
                   ...
7/6/21               2456
7/7/21               2456
7/8/21               2456
7/9/21               2456
7/10/21              2456
Name: nan, Length: 539, dtype: object

In [ ]:
# valor falso pois o erro é muito grande
# não vou considerar essa analise pois tem muito campo vazio (muita disparidade no padrão)

confirmed["Country/Region"].value_counts()

China             34
Canada            16
France            12
United Kingdom    12
Australia          8
                  ..
Cameroon           1
Maldives           1
Chile              1
Madagascar         1
Georgia            1
Name: Country/Region, Length: 195, dtype: int64

In [ ]:
confirmed_by_country = confirmed.groupby("Country/Region").sum()
confirmed_by_country.head()

                     Lat       Long  1/22/20  ...  7/8/21  7/9/21  7/10/21
Country/Region                                ...
Afghanistan     33.93911  67.709953        0  ...    5477    5561     5561
Albania         41.15330  20.168300        0  ...    2456    2456     2456
Algeria         28.03390   1.659600        0  ...    3798    3811     3824
Andorra         42.50630   1.521800        0  ...     127     127      127
Angola         -11.20270  17.873900        0  ...     925     928      929

[5 rows x 538 columns]

In [ ]:
confirmed_by_country.sample(10)

                           Lat        Long  1/22/20  ...  7/8/21  7/9/21  7/10/21
Country/Region                                       ...
Korea, South         35.907757  127.766922        0  ...    2036    2038     2043
Antigua and Barbuda  17.060800  -61.796400        0  ...      42      42       42
Equatorial Guinea     1.650800   10.267900        0  ...     122     122      122
Fiji                -17.713400  178.065000        0  ...      48      51       52
Afghanistan          33.939110   67.709953        0  ...    5477    5561     5561
Panama                8.538000  -80.782100        0  ...    6604    6614     6627
Congo (Kinshasa)     -4.038300   21.758700        0  ...     973     979      980
Mauritius           -20.348404   57.552152        0  ...      18      18       18
Libya                26.335100   17.228331        0  ...    3227    3232     3232
Egypt                26.820553   30.802498        0  ...   16351   16368    16383

[10 rows x 538 columns]

In [ ]:
confirmed_by_country.loc["China"][2:]

1/22/20      17.0
1/23/20      18.0
1/24/20      26.0
1/25/20      42.0
1/26/20      56.0
            ...
7/6/21     4848.0
7/7/21     4848.0
7/8/21     4848.0
7/9/21     4848.0
7/10/21    4848.0
Name: China, Length: 536, dtype: float64

In [ ]:
import matplotlib.pyplot as plt

# grafico extremamente apertado
# estamos sendo longe do adequado ao passar uma mensagem errada

plt.figure(figsize=(2,5))
confirmed_by_country.loc["Mainland China"][2:].plot()
plt.title("Casos confirmados em 'Mainland China'")
plt.show()

KeyError: ignored

Nos últimos 20 dias desses dados, DOBROU os casos confirmados

In [ ]:
# por isso em data visualization é FUNDAMENTAL
# estarmos atentos aos DOIS EIXOS
# esse aqui esta tentando comparar o crescimento do momento inicial ao momento atual

plt.figure(figsize=(10,5))
confirmed_by_country.loc["Mainland China"][2:].plot()
plt.title("Casos confirmados em 'Mainland China'")
plt.show()

KeyError: ignored

In [ ]:
# exemplo ruim de manusear o eixo y
# aqui a mensagem ficou novamente diferente

# esse aqui esta tentando comparar o momento inicial com 1.386bi (populacao da xchina em 2017)
# aqui a mensagem eh novamente completamente diferente
# e pode ser uma mensagem ruim, ate mesmo errada. poderai ser uma doenca grave
# mas ao usarmos o eixo y com a populacao geral, fingimos que ela nao eh grave
# sendo que na realidade ESSE grafico nao POSSUI INFORMACAO NENHUMA sobre a gravidade
# da doenca

# pq? so tem caso confirmado. nao fala letalidade? nao fala incidencia?
# quais sao as provincias infectadas? sao de toda a china? e estou comparando com a
# populacao de toda a china. errado.

plt.figure(figsize=(10,5))
confirmed_by_country.loc["Mainland China"][2:].plot()
plt.title("Gráfico errado. Passa uma mensagem errada, com comparações injustas.")
plt.ylim(0, 1386000000)
plt.show()

In [ ]:
plt.figure(figsize=(10,5))
plt.title("Casos novos em 'Mainland China'")
new_cases_mainland_china = confirmed_by_country.loc["Mainland China"][2:].diff().dropna()
new_cases_mainland_china.plot()

In [ ]:
plt.figure(figsize=(10,5))

confirmed_by_country[last_date].plot()
plt.title("Confirmados por país")

In [ ]:
plt.figure(figsize=(10,5))

# 99.99% das vezes não devemos usar grafico de pizza e torta
# "se o nome do gráfico tem comida no meio, não use" (boa pratica)

# 1. muitas categorias inviavel
# 2. poucas categorias, a comparacao eh de area!!!


# ah, mas cai no 0.01% que eh pra usar torta/pizza
# não, não caiu. pense novamente. se acredita que sim. pense novamente
# se acrdita que sim, assuma os riscos

confirmed_by_country[last_date].plot(kind='pie')
plt.title("Confirmados por país")
plt.show()

In [ ]:
plt.figure(figsize=(10,5))

confirmed_by_country[last_date].plot(kind='bar')
plt.title("Confirmados por país")
plt.show()

In [ ]:
plt.figure(figsize=(10,5))

confirmed_by_country[last_date].sort_values(ascending=False).plot(kind='bar')
plt.title("Confirmados por país")
plt.show()

In [ ]:
plt.figure(figsize=(10,5))

confirmed_by_country[last_date].sort_values(ascending=False)[:10].plot(kind='bar')
plt.title("Confirmados por país")
plt.show()

In [ ]:
plt.figure(figsize=(10,5))

confirmed_by_country[last_date].sort_values(ascending=False)[1:10].plot(kind='bar')
plt.title("Confirmados por país (amostra de 10 países)")
plt.show()

# Lembrando que existe um vicio aqui pois paises que não testaram individuos
# podem sim ter casos ocorrendo mas não confirmados ainda.

In [ ]:
deaths = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv")
recovered = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv")

display(deaths.head())
display(recovered.head())

In [ ]:
def latest_by_country(data):
  return data.groupby("Country/Region").sum().iloc[:,-1]

display(latest_by_country(confirmed).head())
display(latest_by_country(deaths).head())
display(latest_by_country(recovered).head())

In [ ]:
informations = [latest_by_country(confirmed), latest_by_country(deaths), latest_by_country(recovered)]
combined = pd.concat(informations, axis=1)
combined.columns = ["confirmed", "deaths", "recovered"]
combined.head()

In [ ]:
# taxa de letalidade é expressa em %
# o número de casos letais dentro dos casos que foram letais e não letais

# imagina que existe uma doença que em janeiro de 2020 afetou 100 pessoas
# 5 pessoas morreram (por exemplo). letalidade foi de 5%.
# não digo que ela É de 5% para sempre pq a doença continuou existindo

# conclusão é MUITO dificil de falar de letalidade tentando ser preciso
# durante uma epidemia

# no começo é comum que somente casos graves sejam reportados

In [ ]:
sum_up = combined.sum()
letality_rate_1 = sum_up["deaths"] / sum_up["confirmed"]
letality_rate_2 = sum_up["deaths"] / (sum_up["deaths"] + sum_up["recovered"])
print(letality_rate_1 * 100)
print(letality_rate_2 * 100)

In [ ]:
def latest_by_country_at(data, date):
  return data.groupby("Country/Region").sum()[date]


informations = [latest_by_country_at(confirmed, '2/20/20'), latest_by_country_at(deaths, '2/20/20'), latest_by_country_at(recovered, '2/20/20')]
combined_2_20_20 = pd.concat(informations, axis=1)
combined_2_20_20.columns = ["confirmed", "deaths", "recovered"]

sum_up = combined_2_20_20.loc["Mainland China"]
letality_rate_1 = sum_up["deaths"] / sum_up["confirmed"]
letality_rate_2 = sum_up["deaths"] / (sum_up["deaths"] + sum_up["recovered"])
print(letality_rate_1 * 100)
print(letality_rate_2 * 100)

In [ ]:
display(sum_up)

In [ ]:
informations = [latest_by_country_at(confirmed, '2/8/20'), latest_by_country_at(deaths, '2/20/20'), latest_by_country_at(recovered, '2/20/20')]
combined_12 = pd.concat(informations, axis=1)
combined_12.columns = ["confirmed", "deaths", "recovered"]

sum_up = combined_12.loc["Mainland China"]
letality_rate_3 = sum_up["deaths"] / sum_up["confirmed"]
print(letality_rate_3 * 100)
display(sum_up)

In [ ]:
letality_rate_1 = combined["deaths"] / combined["confirmed"] * 100
letality_rate_2 = combined["deaths"] / (combined["recovered"] + combined["deaths"]) * 100
combined["letality_rate_1"] = letality_rate_1
combined["letality_rate_2"] = letality_rate_2
combined.head()

In [ ]:
combined.sort_values("letality_rate_1", ascending=False).head(10)

In [ ]:
# visualização horrenda

combined[["confirmed", "letality_rate_1"]].plot()

In [ ]:
# combined[["confirmed", "letality_rate_1"]].plot(kind='scatter')

In [ ]:
import seaborn as sns

sns.scatterplot(data = combined, x="confirmed", y="letality_rate_1")

In [ ]:
sns.scatterplot(data = combined.query("confirmed > 40 and confirmed < 50000"), x="confirmed", y="letality_rate_1")

In [ ]:
sns.scatterplot(data = combined.query("confirmed > 40"), x="confirmed", y="letality_rate_1")

In [ ]:
sns.scatterplot(data = combined.query("recovered > 40"), x="confirmed", y="letality_rate_2")

In [ ]:
sns.distplot(combined.query("confirmed > 40")["letality_rate_1"], kde=False)

In [ ]:
# grafico nao faz sentido pois so tem 3 pontos ainda

sns.distplot(combined.query("recovered > 40")["letality_rate_2"], kde=False)

In [ ]:
combined.sort_values("letality_rate_1", ascending=False).query("confirmed > 40").head(10)

In [ ]:
combined.sort_values("letality_rate_2", ascending=False).query("recovered > 40").head(10)

# Segunda parte

In [ ]:
confirmed.set_index("Country/Region").loc["Mainland China"].sum().tail()

In [ ]:
is_mainland = confirmed["Country/Region"] == "Mainland China"
is_mainland.head()

In [ ]:
confirmed["is_mainland_china"] = is_mainland
display(confirmed.head())
display(confirmed.tail())

In [ ]:
# query só de mainland china
confirmed.query("is_mainland_china")

In [ ]:
confirmed.groupby("is_mainland_china").sum()[last_date].plot(kind='pie')

In [ ]:
confirmed.groupby("is_mainland_china").sum()[last_date].plot(kind='bar')

## No dia 02/03/2020 mainland china tinha 8 vezes o número de casos que o resto. Mas isso é até injusto pois estamos resumindo as informações e com isso, perdendo elas.

Mas olhar uma fotografia é muito limitado, queremos ver também como anda esse crescimento.

In [ ]:
import numpy as np

confirmed['is_mainland_china_label'] = np.where(confirmed["is_mainland_china"], 'Mainland China', 'Others')
display(confirmed.head())
display(confirmed.tail())

In [ ]:
confirmed.groupby("is_mainland_china_label").sum()[last_date].plot(kind='bar')
plt.title(f"Casos confirmados acumulados até {last_date}")
plt.show()

In [ ]:
summed = confirmed.groupby("is_mainland_china_label").sum()
summed["delta"] = summed["3/2/20"] - summed["3/1/20"]
summed["delta"].plot(kind='bar')
plt.title(f"Novos casos confirmados em {last_date}")
plt.show()

In [ ]:
summed.T.head()

In [ ]:
summed.T[2:-2].plot()
plt.title("Desenvolvimento de casos confirmados com o passar do tempo")
plt.show()

In [ ]:
differences = summed.T[2:-2].diff().dropna()
differences.plot()
plt.title("Casos novos com o decorrer do tempo")
plt.show()

In [ ]:
cases = confirmed.groupby("is_mainland_china_label").sum()[last_date].loc["Mainland China"]
estimated_population =  1437525528
incidence_ratio = cases / estimated_population * 100000
incidence_ratio

# conta péssima, e ruim. e errada. pois estou usando uma populacao MUITO maior do que
# deveria estar usando

In [ ]:
un_population = pd.read_csv("https://population.un.org/wpp/Download/Files/1_Indicators%20(Standard)/CSV_FILES/WPP2019_TotalPopulationBySex.csv")
un_population["PopTotal"] = un_population["PopTotal"] * 1000
un_population.head()

In [ ]:
un_population.describe()

In [ ]:
un_population_total = un_population.query("Time==2019")[["Location","PopTotal"]].set_index("Location")
un_population_total.head()

In [ ]:
combined.join(un_population_total)

In [ ]:
combined.join(un_population_total).sort_values("confirmed", ascending=False).head(20)

In [ ]:
un_population_total.index[:5]

In [ ]:
def locate(population, country):
  return population.query(f"Location.str.contains('{country}') and Time==2019", engine='python')

locate(un_population, 'Hong K')

In [ ]:
# vou assumir algumas premissas
# estou assumindo que na UN China = John Hokpins Mainland China

def rename_location(location):
  if location=='China':
    return 'Mainland China'
  if location=='Republic of Korea':
    return 'South Korea'
  if location=='Iran (Islamic Republic of)':
    return 'Iran'
  if location=='China, Hong Kong SAR':
    return 'Hong Kong'
  if location=='United States of America':
    return 'US'
  return location

un_population_total['location_for_who'] = un_population_total.index.map(rename_location)
un_population_total.query("location_for_who=='South Korea'").head()

In [ ]:
un_population_total = un_population_total.set_index("location_for_who")
un_population_total.head()

In [ ]:
combined_expanded = combined.join(un_population_total).sort_values("confirmed", ascending=False).dropna()
combined_expanded.head(10)