<a href="https://colab.research.google.com/github/gusmaomarcos/alura/blob/main/ML_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
porco1 = [1,1,0]
porco2 = [1,1,0]
porco3 = [1,1,0]
cachorro1 = [1,1,1]
cachorro2 = [0,1,1]
cachorro3 = [0,1,1]

In [ ]:
dados = [porco1, porco2, porco3, cachorro1, cachorro2, cachorro3]

In [ ]:
marcacoes = [1,1,1,-1,-1,-1]

In [ ]:
misterioso1 = [1,1,1]
misterioso2 = [1,0,0]
misterioso3 = [0,0,1]
teste = [misterioso1, misterioso2, misterioso3]

In [ ]:
from sklearn.naive_bayes import MultinomialNB
modelo = MultinomialNB()
modelo.fit(dados, marcacoes)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [ ]:
previsoes = modelo.predict(teste)
previsoes

array([-1,  1, -1])

In [ ]:
import numpy as np
marcacoes_teste = [-1,1,-1]
marcacoes_teste

[-1, 1, -1]

In [ ]:
modelo.score(teste, previsoes, marcacoes_teste)

1.0

In [ ]:
import pandas as pd
url = 'https://s3.amazonaws.com/caelum-online-public/356-intro-machine-learning/files/acesso.csv'
dados2 = pd.read_csv(url)
dados2.head()

   acessou_home  acessou_como_funciona  acessou_contato  comprou
0             1                      1                0        0
1             1                      1                0        0
2             1                      1                0        0
3             1                      1                0        0
4             1                      1                0        0

In [ ]:
dados = dados2[['acessou_home', 'acessou_como_funciona', 'acessou_contato']]
marcacoes = dados2['comprou']

In [ ]:
dados_x = dados
dados_x.head()

   acessou_home  acessou_como_funciona  acessou_contato
0             1                      1                0
1             1                      1                0
2             1                      1                0
3             1                      1                0
4             1                      1                0

In [ ]:
dados_y = pd.DataFrame(marcacoes)
dados_y.head()

   comprou
0        0
1        0
2        0
3        0
4        0

In [ ]:
from sklearn.naive_bayes import MultinomialNB
modelo = MultinomialNB()
modelo.fit(dados_x, dados_y)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [ ]:
usuario1 = [[1,0,1]]
modelo.predict(usuario1)

array([1])

In [ ]:
resultado = modelo.predict(dados_x)

In [ ]:
modelo.score(dados_x, dados_y, resultado)

1.0